<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460616993221-uv40fdkbsv0qmv07srprod0pj9ru68gs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460616993221-uv40fdkbsv0qmv07srprod0pj9ru68gs</string>
	<key>API_KEY</key>
	<string>AIzaSyA4NjuIqb9Is-7Lo6iWDRwGD-TptCzm9J0</string>
	<key>GCM_SENDER_ID</key>
	<string>460616993221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pacmanv.pacmanchat</string>
	<key>PROJECT_ID</key>
	<string>pacman-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>pacman-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460616993221:ios:dbcb29789e60be567063ac</string>
</dict>
</plist>